/*
 * @Author: quinn.xie 
 * @Date: 2018-11-07 15:42:16 
 * @Last Modified by:   quinn.xie 
 * @Last Modified time: 2018-11-07 15:42:16 
 */
 
$bgColor: #000000;
$duck_gray: #2c3e50;
$green: #00f883;
$duck_green:#42b983;